.navbar{
    width: 90%;
    margin: 0 auto 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.menuEscondido{
    position: absolute;
    width: 90%;
    margin: -300px auto 0 auto;
    transition: all 2s ease;
}
.menu{
    height:100px;
    width: 90%;
    margin: -30px auto 0 auto;
    background-color: #EB5757;
    position: absolute;
    transition: all 1s ease;
    border-radius: 0px 0px 16px 16px;
}
.input{
    border-radius: 16px;
    width: 297px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 6px 0px #0000001A;
}
.location{
    width: 35%;
    height: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
    border-right: 1px solid #0000001A;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: 500;
}
.guest{
    width: 35%;
    height: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
    border-right: 1px solid #0000001A;
    color: #BDBDBD;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.fa-search{
    width: 20%;
    text-align: center;
}
.formulario{
    width: 40%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select{
    width: 190px;
    border-radius: 16px;
    height: 55px;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    box-shadow: 0px 1px 6px 0px #0000001A;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-right: 5px;
}

.select:focus{
    outline: none;
}
.input-form{
    width: 50px;
    border-radius: 16px;
    height: 55px;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    margin-right: 5px;
    font-weight: 400;
    color: #333333;
    box-shadow: 0px 1px 6px 0px #0000001A;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
.input-form:focus{
    outline: none;
}
.btn-buscar{
    width: 100px;
    background-color: #EB5757;
    height: 55px;
    border: 2px solid white;
    border-radius: 16px;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.btn-buscar:hover{
    background-color: #00000028;
    transition: all .5s ease;
}
.fa-search{
    margin-right: 5px;
}